
#content, header, footer, article, nav {
	margin: 0 auto;
	width: 1000px
}

nav {
  width: 100%;
	margin: 0;
	color: #AAA;
}
nav ul li {
	display: inline;
	padding: 0 1px;
}
nav ul li a {
	display: inline-block;
	background: white;
	background: rgba(255,255,255,.8);
	background: rgba(0,0,0,.03);
	border:1px solid rgba(255,255,255,.7);
	border-bottom: 1px solid rgba(0,0,0,.07);
	padding: 5px 15px;
	color: #999;
	text-shadow: 1px 1px 1px #FFF;
  -moz-border-radius-topright:     7px;
  -webkit-border-top-left-radius:  7px;
  border-radius-topright:          7px;
  -moz-border-radius-topleft:      7px;
  -webkit-border-top-right-radius: 7px;
  border-radius-topleft:           7px;
}
nav ul li a.selected {
	background: white;
	font-weight: bold;
	color: #555;
	border:1px solid rgba(0,0,0,.15);
	border-bottom: 1px solid white;
}

article {
	padding: 10px 20px;
	width: 960px; /* 1000 - ( 2 * 20 ) */
	background: white;
}

h2 {
	margin-bottom: 1em;
}

table.data {
	width: 100%;
	cellspacing: 1px;
	margin: 1em 0;
}
table.data th, table.data td {
	padding: 4px 6px;
    font-size: 1em;
}
table.data th {
	background: #DDD;
	text-align: left;
	color: #999;
	border: 1px solid #CCC;
	text-shadow: 1px 1px 1px #FFF;
}
table.data td {
	background: white;
	border: 1px solid #DDD;
    text-align: center;
}

.link {
    cursor: pointer;
    text-decoration: underline;
    color: #1E52A1;
    float: right;
    margin-right: 5px;
}

.pager {
    margin-top: 30px;

}

.pager input {
    width: 50px;
    text-align: center;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th{
    font-size: 10pt !important;
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #BAD1DD !important;
    font-size: 10pt !important;
}

.pagesize {
    background-color: #EAE6E0;
    color: gray;
}